* {margin: 0;
padding: 0; box-sizing: border-box;}

body {
  background: linear-gradient(45deg, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d, #05c7e6, #003dfd, #9700fd, #fd008f, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d, #05c7e6, #003dfd, #9700fd, #fd008f, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d, #05c7e6, #003dfd, #9700fd, #fd008f, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d);
  background-size: 400% 1400%;
  -webkit-animation: rainbow 30s ease infinite;
  animation: rainbow 30s ease infinite;
} main {
  position: relative;
  width: auto;
  background-color: #fff;
  margin: 24px;
  font-family: "isidora sans";
  z-index: -6;
}
 h1 {
  font-size: 92px;
  font-weight: 600;
  color: #4E4E4E;
}  h2 {
  font-size: 45px;
  font-weight: 400;
  color: #4E4E4E;
}
@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
/** grid wrapper setup **/
.wrapper-hero {
  position: relative;
  width: auto;
  height: 96vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
  grid-auto-rows: minmax(10px, auto);
  background-image: url(../img/bg-index.png);
  background-color: #ffffff;
  z-index: 0;
}
.wrapper-main {
  position: relative;
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
  grid-auto-rows: minmax(50px, auto);
  z-index: 0;
}

/** hero section **/
.wrapper-hero .logo {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: red;
}
/** .nav-itemsigation **/
 .wrapper-hero .logo img {
  margin-top: 23px;
  margin-left: 40px;
  height: 64px;
  } .wrapper-hero .nav-items {
  grid-column: 9 /13;
  grid-row: 1;
}  .wrapper-hero .nav-items ul {
  list-style-type: none;
  margin-top: 23px;
  margin-left: 40px;
}  .wrapper-hero .nav-items ul li {
 display: inline-block;
 margin-right: 15px;
}


/** header **/
 .wrapper-hero header {
  grid-column: 4 /10;
  grid-row: 2;
  background-color: yellow;
  padding: 0 3em;
}
.wrapper-hero .nav-next {
  grid-column: 6 /8;
  grid-row: 3;
  background-color: aqua;
}
.wrapper-hero .nav-social {
  grid-column: 11 /13;
  grid-row: 3;
  background-color: orange;
} .wrapper-heo .nav-social ul {
  float: right;
   list-style-type: none;
}
/** main section **/
.wrapper-main .portfolio {
  grid-column: 5 /9;
  grid-row: 1;
  background-color: orange;
  text-align: center;
} .wrapper-main h4 {
font-weight: 300;
font-size: 18px;
color: #4E4E4E;
letter-spacing: 0.45px;
line-height: 56px;
} .wrapper-main h3 {
  font-weight: 700;
  font-size: 46px;
  color: #000;
  letter-spacing: 0;
  line-height: 68px;
} .wrapper-main h2 {
font-weight: 700;
font-size: 64px;
color: #4E4E4E;
letter-spacing: 0;
line-height: 68px;
}
 .wrapper-main .image-one {
  grid-column: 4 /10;
  grid-row: 2 / 6;
  background-color: pink;
} .wrapper-main .item-one {
  grid-column: 2 / 6;
  grid-row: 3 / 5;
  background-color: blue;
 } .wrapper-main .image-two {
  grid-column: 3 /9;
  grid-row: 6 / 10;
  background-color: green;
} .wrapper-main .item-two {
  grid-column: 7 / 11;
  grid-row: 7 / 9;
  background-color: red;
} .wrapper-main .image-three {
  grid-column: 6 /12;
  grid-row: 10/ 14;
  background-color: pink;
} .wrapper-main .item-three {
  grid-column: 4 / 8;
  grid-row: 11 / 13;
  background-color: blue;
 }  .wrapper-main .image-four {
  grid-column: 2 /8;
  grid-row: 14 / 18;
  background-color: green;
} .wrapper-main .item-four {
  grid-column: 6 / 10;
  grid-row: 15 / 17;
  background-color: red;
} .wrapper-main .experiments {
  grid-column: 4 /10;
  grid-row: 18;
  text-align: center;
  background-color: orange;
} .wrapper-main .item-five {
  grid-column: 3 /11;
  grid-row: 19;
  height: 133px;
  background-color: deeppink;
} .wrapper-main .item-six {
  grid-column: 3 /11;
  grid-row: 20;
  background-color: aquamarine;
} .wrapper-main .item-seven {
  grid-column: 3 /11;
  grid-row: 21;
  background-color: lime;
} .wrapper-main footer {
  grid-column: 1 /13;
  grid-row: 22;
  background-color: purple;
} .wrapper-main footer p {
  float: left;
  } .wrapper-main footer ul {
  list-style-type: none;
  float: right;
} .wrapper-main footer ul li {
  display: inline-block;
}

/** etc **/
.bg-line-left {
position: absolute;
border-left: 1px solid #D9D3D3;
height: 100%;
width: 1px;
top: 0;
left: 25%;
transform: translateX(-75%);
z-index: -5;
}
.bg-line-mid {
position: absolute;
border-left: 1px solid #D9D3D3;
height: 100%;
width: 1px;
top: 0;
left: 50%;
transform: translateX(-50%);
z-index: -5;
}
.bg-line-right {
position: absolute;
border-left: 1px solid #D9D3D3;
height: 100%;
width: 1px;
top: 0;
left: 75%;
transform: translateX(-25%);
z-index: -5;
} .responsive {
    width: 100%;
    height: auto;
}
