
.icon-book:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-cup:before { content: '\e804'; } /* '' */
.icon-floppy:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */