/** @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VF.woff2) format('woff2-variations');
    font-display: swap;
    font-style: normal;
    font-weight: 100 900;
}
@font-face {
    font-family: 'Lora';
    src: url(../fonts/Lora-VF.woff2) format('woff2-variations');
    font-display: swap;
    font-style: normal;
    font-weight: 400 700;
}
@font-face {
    font-family: 'Lora';
    src: url(../fonts/Lora-Italic-VF.woff2) format('woff2-variations');
    font-display: swap;
    font-style: italic;
    font-weight: 400 700;
} **/

/** Root style variables **/

:root {
    /* font stack variables */
    --font-stack-sans: "Sporting Grotesque Witch", Helvetica, arial, sans-serif;
    --font-stack-serif: "Fraunces", Georgia, "Times New Roman", serif;

    --trans: all 0.3s ease-out;

    /* color variables */
    --highlight-color: #4F1AFF;
    --text-color: #362928;
    --text-color-muted: #636E7E;
    --background-color: #fafafa;
}

html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: auto;
}
    /* html is set to 62.5% so that all the REM measurements are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
    font-size: 62.5%;
    overflow-y: scroll;
}

html,
body {
    color: var(--text-color);
    background-color: var(--background-color);
    
}
body, main {
      overflow-y: hidden !important;
      overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--text-color);
    
}
a:hover {
    color: var(--highlight-color);
} 
.alt-link {
    color: var(--highlight-color);
} .alt-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-style: dotted;
}

ul {
    list-style-type: none;
}

h2 {
    font-family: var(--font-stack-serif);
}

img {
    max-width: 100%;
    width: 100%;
}
br {
    display: none;
}

@media (min-width: 1080px) {
    html, * {
        cursor: none;
    }
    /*customcursor*/
.cursor {
	position: fixed;
	width: 200px;
	height: 200px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: bottom right;
	background-image: url('cursor.png');
	pointer-events: none;
	z-index: 999;

	transition: transform 0.2s;
}
}
@media (min-width: 1500px) {
br {
    display: initial;
}
}
/**top navbar**/
#fixed-navbar {
    background-color: var(--background-color);
    border-bottom: 0.5px solid var(--text-color);
    z-index: 99;
    height: 199.5px;
    top: -200px;
    position: fixed;
    width: 100%;
    display: flex;
}

.navbar-menu,
.navbar-info {
    margin: 75px auto;
    padding: 0 1%;
    width: 430px;
    height: 100%;
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1400 - 300)));
    font-family: var(--font-stack-sans);
}

.navbar-menu li,
.navbar-info li {
    margin-bottom: 6px;
    transform-origin: center;
    transition: all 0.15s ease-in-out;
}

.navbar-menu li:hover {
    transform: rotate(3deg);
}

.navbar-menu li:nth-child(even):hover {
    transform: rotate(-2.5deg);
}

.nav-btn {
    z-index: 101;
    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1400 - 300)));
    position: fixed;
    font-family: var(--font-stack-sans);
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.15s ease-in-out;
}

.nav-btn:nth-child(1) {
    top: 20px;
    left: 1%;
}

.nav-btn:nth-child(2) {
    top: 20px;
    right: 1%;
}

.nav-btn:nth-child(3) {
    bottom: 20px;
    left: 1%;
}

.nav-btn:nth-child(4) {
    bottom: 20px;
    right: 1%;
}

.nav-btn:nth-child(1):hover {
    transform: rotate(10deg);
}

.nav-btn:nth-child(2):hover {
    transform: rotate(-12deg);
}

.nav-btn:nth-child(3):hover {
    transform: rotate(-12deg);
}

.nav-btn:nth-child(4):hover {
    transform: rotate(10deg);
}
@media (min-width: 720px) {


.nav-btn:nth-child(1) {
    top: 30px;
    left: 1%;
}

.nav-btn:nth-child(2) {
    top: 30px;
    right: 1%;
}

.nav-btn:nth-child(3) {
    bottom: 30px;
    left: 1%;
}

.nav-btn:nth-child(4) {
    bottom: 20px;
    right: 1%;
}
}
@media (min-width: 1350px) {
    
    .nav-btn, .navbar-info, .navbar-menu {
        font-size: 2.2rem;
    }
    .navbar-menu,
    .navbar-info {
    margin: 70px auto;
    width: 500px;
    height: 100%;
}
    .navbar-menu li,
.navbar-info li {
    margin-bottom: 5px;
    transform-origin: center;
    transition: all 0.15s ease-in-out;
}
    
}

@media (min-width: 1700px) {
    .nav-btn, .navbar-info, .navbar-menu {
        font-size: 2.2rem;
    }
    .navbar-menu,
    .navbar-info {
    margin: 30px auto;
    width: 450px;
    height: 100%;
}
    .navbar-menu li,
.navbar-info li {
    margin-bottom: 16px;
    transform-origin: center;
    transition: all 0.15s ease-in-out;
}
    
}

/*- FOOTER ------------------------*/
/*- Call to action + social links -*/

.footer,
.socials {
    padding: 50px 0;
}

.footer p {
    font-size: calc(16px + (60 - 16) * ((100vw - 300px) / (1400 - 300)));
    font-family: var(--font-stack-serif);
    font-variation-settings: "opsz" 38,"wght" 320,"SOFT" 10,"WONK" 1;
}
.footer-email a {
    font-style: normal;
    color: #4F1AFF;
  display: inline-block;
  padding:  0 0 5px 0;
  position: relative;
}
.footer-email a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #4F1AFF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footer-email a:hover:after { 
  width: 100%; 
  left: 0; 
}

.socials ul {
    text-align: right;
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1400 - 300)));
    margin-top: calc(4px + (16 - 4) * ((100vw - 300px) / (1400 - 300)));
    font-family: var(--font-stack-sans);
}

.socials ul li {
    margin-bottom: calc(2px + (10 - 2) * ((100vw - 300px) / (1400 - 300)));
    transform-origin: center right;
    transition: all 0.15s ease-in-out;
}

.socials ul li:hover {
    transform: rotate(6deg);
}

. socials ul li:nth-child(even):hover {
    transform: rotate(-8deg);
}
@media (min-width: 1400px) {
.footer,
.socials {
    padding: 100px 0;
}
.footer p {
    font-size: 6rem;
    font-family: var(--font-stack-serif);
    font-variation-settings: "opsz" 60,"wght" 350,"SOFT" 10,"WONK" 1;

}
    .socials ul {
    text-align: right;
    font-size: calc(18px + (60 - 18) * ((100vw - 300px) / (1400 - 300)));
    font-size: 2.2rem;
    margin-top: 16px;
    font-family: var(--font-stack-sans);
}
}
