@font-face {
  font-family: 'Colab Thin';
  src: url(fonts/ColabThi.otf);
}
h4 {
    font-family: 'Colab Thin';
}
.nav, .nav a {
    font-family: 'Colab Thin';
    width: 100%;
    height: 30px;
    background-color: #111;
    text-decoration: none;
    color: #fff;
}

.eightcol iframe {
    max-width: 100%;
}
.fourcol img {
    max-width: 100%;
}
.profile img {
    max-width: 65%;
}
