/****************************************/
/*    Pace Marier - Personal Website    */
/*      Stylesheet For index.html       */
/****************************************/

/* Import fonts that are used */
@font-face { font-family: BostonBlack; src: url('fonts/Boston-Black.ttf') format('truetype');}
@font-face { font-family: BostonReg; src: url('fonts/Boston-Light.ttf') format('truetype');}
@font-face { font-family: BostonHeavy; src: url('fonts/Boston-Heavy.ttf') format('truetype');}
@font-face { font-family: BostonBold; src: url('fonts/Boston-Bold.ttf') format('truetype');}

/* general styles */
body, html {height: 100% !important;}
body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}
p { line-height: 1.75; }
a { color: #E54661; }
a:hover { color: #E54661; }

/* button styles */
.btn {
  font-family: 'BostonReg', Arial, sans-serif;
  font-weight: 400;
}
.btn-lg {
  font-size: 16px;
  padding: 12px 24px;
}
.btn-primary {
  background-color: transparent;
  border-color: #fff;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #111;
}
.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

/* custom mouse highlight colour */
::-moz-selection {
  background: #E54661;
  text-shadow: none;
}
::selection {
  background: #E54661;
  text-shadow: none;
}
body {
  -webkit-tap-highlight-color: #E54661;
}

/* top menu bar styles */
#menubar { background-color: #212529; }
#menubar .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #E54661;
  font-family: 'BostonReg', Arial, sans-serif;
}
#menubar .navbar-brand {
  color: #fff;
  font-family: 'BostonBold', Arial, cursive;
}
#menubar .navbar-brand.active, #menubar .navbar-brand:active, #menubar .navbar-brand:focus, #menubar .navbar-brand:hover {  color: #E54661; }
#menubar .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'BostonReg', Arial, sans-serif;
}
#menubar .navbar-nav .nav-item .nav-link.active, #menubar .navbar-nav .nav-item .nav-link:hover {  color: #E54661; }

/* responsive menu styles (larger than 992px) */
@media (min-width: 992px) {
  #menubar {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #menubar .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #menubar .navbar-nav .nav-item .nav-link { padding: 1.1em 1em !important; }
  #menubar.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #menubar.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

/* masthead styles*/
header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/bg.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header.masthead .intro {
  padding-top: 150px;
  padding-bottom: 100px;
}
header.masthead .intro .introsubheader {
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 25px;
  font-family: 'BostonReg', Arial, sans-serif;
}
header.masthead .intro .introheader {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'BostonBlack', Arial, sans-serif;
}

/* responsive masthead styles (larger than 768px) */
@media (min-width: 768px) {
  header.masthead .intro {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro .introsubheader {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 38px;
    font-family: 'BostonReg', Arial, sans-serif;
  }
  header.masthead .intro .introheader {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 25px;
    font-family: 'BostonBlack', Arial, sans-serif;
  }
}

/* social media icon button styles */
ul.social {
  padding-top: 12px;
  margin-bottom: 0;
}
ul.social li a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
}
ul.social li a:active, ul.social li a:focus, ul.social li a:hover {
  background-color: #fff;
  color: #111;
}
