* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
} body {
}
img {
  width: 100%;
  height: auto;
}
/** ------------------------------------------------- **/
/** Establish the Global Type System **/
/** ------------------------------------------------- **/
h1 {
  border-left: 2px solid #17E617;
  padding: 0 0 8px 12px;
  font-family: 'Isidora', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 32px;
} h2 {
  display: inline;
  border-bottom: 2px solid #17E617;
  font-family: 'Isidora', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 32px;
} h3 {
  display: inline;
  border-bottom: 2px solid #17E617;
  font-family: 'Isidora', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 48px;
} p {
  letter-spacing: 0.4px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
a {
  color: #000;
  text-decoration: none;
}
.button {
  border: 2px solid #17E617;
  padding: 16px 0;
  text-align: center;
  transition: all 0.3s ease-in-out;
} .button:hover {
  background-color: #17E617;
}
.mono, nav li, footer li {
  font-family: 'PT Mono', Courier New, monospace;
  font-size: 14px;
  letter-spacing: 0.7px;
  transition: all 0.2s ease;
}
i {
  color: #262728;
  transition: all 0.2s ease;
  font-size: 14px;
}
nav a:hover, footer a:hover, i:hover {
  color: #a1a1a1;
}
.price {
  font-family: 'PT Mono', Courier New, monospace;
  font-size: 12px;
  color: #525252;
  letter-spacing: 1.4px;
}
ul {list-style-type: none;}
li {display: inline-block}
nav {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  min-height: 70px;
  margin-bottom: 11px;
  padding-bottom: 20px;
  z-index: 99;
} nav .banner {
  width: 100%;
  background-color: #17E617;
  height: 20px;
  padding: 0 0 10px;
  margin-bottom: 0;
} nav .banner p {font-size: 12px;}
.nav-shadow {
    box-shadow: 0 1px 7px 1px rgba(136,136,136,0.33);
    transition: all 0.5s ease;
    height: 2px;
}
main {
  padding-top: 200px;
}
.newsletter {
  width: 100%;
  margin: 11px auto;
  background-color: #242526;
  min-height: 52px;
  padding: 24px 0;
}
footer .grid {
  margin: 11px auto;
}
/** ------------------------------------- **/
/** Establish the Global Grid **/
/** ------------------------------------- **/

/* 5 column mobile grid with an 11px gutter */
.grid {
  width: 88%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 11px;
}

/* 5 column tablet grid with a 20px gutter */
@media only screen and (min-width:768px) {
  p {
  letter-spacing: 0.4px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
  nav {
    margin-bottom: 10px;
    padding-bottom: 30px;
  }
  main {
  float: none;
  padding-top: 125px;
  }
  .newsletter {
    margin: 40px auto 20px auto;
  }
  footer .grid {
  margin: 26px auto;
  }
  .grid {
    width: 700px;
    grid-gap: 20px;
  }
}

/* 9 column desktop grid with a 20px gutter*/
@media only screen and (min-width:1024px) {
  p {
  letter-spacing: 0.4px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
  .grid {
    width: 976px;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 20px;
  }
}

/** ------------------------------------------- **/
/** Establish the Modular Blocks **/
/** ------------------------------------------- **/

/* module 1: image left, text right, body offset */
.mod-1-a {
  grid-column: span 5;
  grid-row: span 1;
  background-color: lightgrey;
}
.mod-1-b {
  grid-column: span 5;
  grid-row: span 1;
}
.mod-1-c {
  grid-column: 2 / 6;
  grid-row: span 1;
}
/* INTERACTIVITY PROJ 3 SUBJECT IS SPORTz*/
/* module 2: image right, text left, body offset */
.mod-2-a {
  grid-column: span 5;
  grid-row: span 2;
  background-color: lightgrey;
}
.mod-2-b {
  grid-column: span 5;
  grid-row: span 1;
}
.mod-2-c {
  grid-column: 2 / 6;
  grid-row: span 1;
}

/* module 3: image left, text right */
.mod-3-a {
  grid-column: 2 / 5 ;
  grid-row: span 1;
}
.mod-3-b {
  grid-column: 1 / 6;
  grid-row: span 1;
}
.mod-4-img-a {
  grid-row: 5;
}.mod-4-img-b {
  grid-row: 9;
}
/* module 4: image right, text left */
.mod-4-a {
  grid-column: 2 / 5;
  /**grid-row: span 1;**/
}
.mod-4-b {
  grid-column: 1 / 6;
  grid-row: span 1;
}

/* module 5: header with product spotlight */
.mod-5-a {
  grid-column: span 5 ;
  grid-row: span 1;
  margin-top: 6%;
  text-align: left;
} .mod-5-a h2 {
  border-left: 2px solid #17E617;
  border-bottom: none;
  padding: 10px 0 20px 12px;
}
.mod-5-b {
  grid-column: 3 / 6;
  grid-row: 7 / 9;
  background-color: lightgrey;
}
.mod-5-c {
  grid-column: 1 / 4;
  grid-row:  8 / 10;
  background-color: #fff;
}
.mod-5-d {
  grid-column: 1 / 4;
  grid-row: 10 / 12;
  background-color: lightgrey;
}
.mod-5-e {
  grid-column: 3 / 6;
  grid-row: 11 / 13;
  background-color: #fff;
}
.mod-5-f {
  grid-column: 3 / 6;
  grid-row: 13 / 15;
  background-color: lightgrey;
}
.mod-5-g {
  grid-column: 1 / 4;
  grid-row: 14 / 16;
  background-color: #fff;
}
.mod-5-c, .mod-5-g {
    padding: 4.5% 8% 0 8%;
    text-align: right;
  }
.mod-5-e {
    padding: 4.5% 8% 0 8%;
    text-align: left;
}
  .mod-5-c .price, .mod-5-e .price, .mod-5-g .price  {
    margin-top: 5px;
  }

  .mod-5-c .button, .mod-5-e .button, .mod-5-g .button {
    margin-top: 10px;
  }

/* module 6: uniform width and centered application form */
.mod-6 {
  grid-column: span 5;
  grid-row: span 1;
  text-align: center
}
 .mod-6 h2 {
  margin: auto !important;
  position: relative;
  } .mod-6 form {
    text-align: left;
  } .mod-6 label{
    margin: 24px 0;
  }
  .mod-6 input{
    border: 1px solid gray !important;
    display: block;
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
    border: none;
    height: 52px;
    margin-top: 5px;
    padding-left: 24px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #6e6e6e;
  }.mod-6 textarea {
    border: 1px solid gray !important;
    display: block;
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
    margin-top: 5px;
    padding-top: 8px;
    padding-left: 24px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #6e6e6e;
  }

  .mod-6 select{
    font-family: 'PT Mono', courier new, monospace;
    border: 1px solid gray !important;
    display: block;
    width: 100%;
    max-width: 100%;
    border: none;
    height: 52px;
    padding-left: 24px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #6e6e6e;
  }

.mod-1-b input{
    border: 1px solid gray !important;
    display: block;
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
    border: none;
    height: 52px;
    margin-top: 5px;
    padding-left: 24px;
    margin-bottom: 40px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #6e6e6e;
  }
.mod-1-b select {
    font-family: 'PT Mono', courier new, monospace;
    border: 1px solid gray !important;
    display: block;
    width: 100%;
    max-width: 100%;
    border: none;
    height: 52px;
    padding-left: 24px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #6e6e6e;
}


/* module 7: product showcase */
.mod-7-a {
  grid-column: span 5;
  grid-row: span 1;
}
.mod-7-b {
  grid-column: span 5;
  grid-row: span 1;
  margin-bottom: 8%;
  text-align: center;
}
  .mod-7-a ul {
    width: 95%;
    text-align: center;
    margin: 25px auto 0 auto;
  } .mod-7-a ul li {
    margin-right 20px;
    margin-left: 12px;
  }
  .mod-7-c {
    grid-column: 1 / 6;
    margin: 0px 0 50px 0;
  }
  .mod-7-border {
    margin-top: -7px;
    padding: 20px 15px;
    border: 1px solid #000;
  }.mod-7-border .button {
    margin-top: 10px;
  }
/* global items */


/**HAM MENU**/
#menu-button {
  display: flex;
  width: 100px;
} #menu-button p {
  line-height: 8px;
}
 #menu-icon {
  width: 20px;
  height: 10px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

 #menu-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
} #menu-button:hover span, #menu-button:focus span {
  background: #a1a1a1;
}

#menu-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu-icon span:nth-child(2) {
  top: 5px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu-icon span:nth-child(3) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 3px;
}

#menu-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 11px;
  left: 3px;
}

.drop-text {
    border: none;
}

.drop {
    position: relative;
    display: inline-block;
    padding: 6px 0;
}

.drop-links {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    margin-top: 6px;
    margin-left: -12px;
    min-width: 160px;
    z-index: 1;
}

.drop-links a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-links a:hover {background-color: #ddd; color: #222}

.drop:hover .drop-links {display: block;}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50%;
    text-align: center;
}

.sidenav a {
    padding: 10px 0px;
    text-decoration: none;
    font-family: 'Isidora', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: #000;
    margin: auto;
    display: inline-block;
    transition: 0.3s;
    position: relative;
}
.sidenav a::before, a::after {
  content: '';
  background: #17E617;
  position: absolute;
  top: 45%;
  height: 5px;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  width: 0;
}
.sidenav a::before {
  left: 0;
}
.sidenav a::after {
  right: 0;
  transition: width 500ms ease;
}
.sidenav a:hover::before {
  width: 100%;
  transition: width 500ms ease;
}
.sidenav a:hover::after {
  width: 100%;
  background: transparent;
  transition: 0;
}
.open-width {
  width: 100vw;
}
.sidenav .social-mobile i {
  font-size: 22px;
} .social-mobile {
  width: 50%;
  margin: auto;
} .social-mobile a {
  width: auto;
} .social-mobile a i:hover {
  color: #262728;
}

/*****************/
nav .banner {
  display: none;
}
  nav .logo-big {
    grid-column: 1 / 6;
    grid-row: 1;
    margin-top: 20px;
    margin-bottom: -20px;
    text-align: center;
    display: block;
} nav .logo-big h3 {
  font-size: 62px;
}
  nav .logo {
    grid-column: 3 / 4;
    grid-row: 2;
    text-align: center;
    display: none;
}
  nav .nav-left {
    grid-column: 1 / 3;
    grid-row: 2;
    padding-top: 22px;
    padding-left: 0;
  } nav .nav-left li, footer .footer-left li{
    margin-right: 22px;
  }
  nav .nav-right {
    grid-column: 4 / 6;
    grid-row: 2;
    padding-top: 22px;
    text-align: right;
  }
  .newsletter p {
    grid-column: span 5;
    grid-row: 1;
    padding: 15px 0;
    color: #ffffff;
    text-align: center;
  } .newsletter .newsletter-input {
    grid-column: span 5;
    grid-row: 2;
  } .newsletter-input .input-text {
    border: none;
    height: 52px;
    width: 68.5%;
    padding-left: 52px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #6e6e6e;
  } .newsletter-input .input-button {
    position: absolute;
    border: none;
    height: 52px;
    width: 52px;
    background-color: #17E617;
    transition: all 0.3s ease;
  } .newsletter-input .input-button:hover {
    background-color: #19C519;
  }
  footer .footer-left {
    line-height: 32px;
    grid-column: span 3;
    grid-row: 1;
  }
  footer .footer-right {
    grid-column: span 2;
    grid-row: 1;
    text-align: right;
  } footer .footer-right li {
    display: list-item;
    margin-bottom: 8px;
  }
  footer hr {
    border: 1px thin #D8D8D8;
    color: #fefefe;
  }
  footer p {
    text-align: center;
    padding: 18px;
    color: #6E6E6E;
    font-size: 12px !important;
    letter-spacing: 0.4px !important;
  }


/** Establish the Modular Blocks **/
/** ------------------------------------------- **/
@media only screen and (min-width:768px) {

  /* module 1: image left, text right, body offset */
  .mod-1-a {
    grid-column: 1 / 3;
    grid-row: span 3;
    background-color: lightgrey;
  }
  .mod-1-b {
    grid-column: 3 / 6;
    grid-row: span 1;
  }
  .mod-1-c {
    grid-column: 4 / 6;
    grid-row: span 1;
  }

  /* module 2: image right, text left, body offset */
  .mod-2-a {
    grid-column: 4 / 6;
    grid-row: span 3;
    background-color: lightgrey;
  }
  .mod-2-b {
    grid-column: 1 / 4;
    grid-row: span 1;
  }
  .mod-2-c {
    grid-column: 2 / 4;
    grid-row: span 1;
  }

  /* module 3: image left, text right */
  .mod-3-a {
    grid-column: 1 / 3;
    grid-row: span 1;
  }
  .mod-3-b {
    grid-column: 3 / 6;
    grid-row: span 1;
  }

  /* module 4: image right, text left */
  .mod-4-a {
    grid-column: 4 / 6;
    grid-row:  span 1;
  }
  .mod-4-b {
    grid-column: 1 / 4;
    grid-row: span 1;
  }
  .mod-4-img-a, .mod-4-img-b {
  grid-row: span 1;
  }

  /* module 5: header with product spotlight */
  .mod-5-a {
    grid-column: span 5 ;
    grid-row: span 1;
    text-align: center;
  }
  .mod-5-a h2 {
  border-left: none;
  border-bottom: 2px solid #17E617;
  padding: 0;
}
  .mod-5-b {
    grid-column: 4 / 6;
    grid-row: 5;
    background-color: lightgrey;
    z-index: 2;
  }
  .mod-5-c {
    grid-column: 1 / 5;
    grid-row:  5;
    border: solid 1px black;
  }
  .mod-5-d {
    grid-column: 1 / 3;
    grid-row: 6;
    background-color: lightgrey;
    z-index: 2;
  }
  .mod-5-e {
    grid-column: 2 / 6;
    grid-row: 6;
    border: solid 1px black;
    padding-top: 11%;
    padding-right: 6%;
    padding-left: 28%;
    text-align: center;
  }
  .mod-5-f {
    grid-column: 4 / 6;
    grid-row: 7;
    background-color: lightgrey;
    z-index: 2;
  }
  .mod-5-g {
    grid-column: 1 / 5;
    grid-row: 7;
    border: solid 1px black;
  }
  .mod-5-c, .mod-5-g{
    padding-top: 11%;
    padding-right: 28%;
    padding-left: 6%;
    text-align: center;
  }
  .mod-5-c .price, .mod-5-e .price, .mod-5-g .price  {
    margin-top: 5px;
  }

  .mod-5-c .button, .mod-5-e .button, .mod-5-g .button {
    margin-top: 20px;
  }

  /* module 6: uniform width and centered application form */
  .mod-6 {
    grid-column: span 5;
    grid-row: span 1;
    text-align: center;
  }

  /* module 7: product showcase */
  .mod-7-a {
    grid-column: span 5;
    grid-row: span 1;
  }
  .mod-7-a ul {
    width: 55.1%;
    margin: 25px auto 0 auto;
  } .mod-7-a ul li {
    margin-right 20px;
    margin-left: 12px;
  }
  /* global items */
  nav .banner {
  display: block;
}
  nav .banner p {
    grid-column: span 4;
    grid-row: 1;
  } nav .banner a {
    grid-column: span 1;
    grid-row: 1;
    text-align: right;
  }
  nav .logo-big {
    display: none;
  }
  nav .logo {
    grid-column: span 1;
    grid-row: 1;
    display: block;
  }
  nav .nav-left {
    grid-column: 2 / 5;
    grid-row: 1;
    padding-top: 22px;
    padding-left: 0;
  } nav .nav-left li, footer .footer-left li{
    margin-right: 22px;
  }
  nav .nav-right {
    grid-column: span 1;
    grid-row: 1;
    padding-top: 22px;
    text-align: right;
  }
  .newsletter p {
    grid-column: span 2;
    grid-row: 1;
    padding: 15px 0;
    color: #ffffff;
    text-align: left;
  } .newsletter .newsletter-input {
    grid-column: span 3;
    grid-row: 1;
  } .newsletter-input .input-text {
    border: none;
    height: 52px;
    width: 75%;
    padding-left: 52px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #6e6e6e;
  } .newsletter-input .input-button {
    position: absolute;
    border: none;
    height: 52px;
    width: 52px;
    background-color: #17E617;
    transition: all 0.3s ease;
  } .newsletter-input .input-button:hover {
    background-color: #19C519;
  }
  footer .footer-left {
    line-height: 32px;
    grid-column: span 3;
    grid-row: 1;
  }
  footer .footer-right {
    grid-column: span 2;
    grid-row: 1;
    text-align: right;
  } footer .footer-right li {
    display: list-item;
    margin-bottom: 8px;
  }
  footer hr {
    border: 1px thin #D8D8D8;
    color: #fefefe;
  }
  footer p {
    text-align: center;
    padding: 18px;
    color: #6E6E6E;
    font-size: 12px !important;
    letter-spacing: 0.4px !important;
  }
}
@media only screen and (min-width:768px) and (max-width:1023px) {
  #mod-7-tablet{
    margin-top: 25px;
    grid-column: span 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
  }
  .mod-7-b {
    margin-right: 25px;
    flex: 1 0 auto;
  }
  .mod-7-b img {
    width: 315px;
    max-width: 315px;
  }
  .mod-7-border {
    padding: 20px 15px;
    border-top: 1px solid #000;
    border-right:1px solid #000;
    border-bottom: 1px solid #000;
  }.mod-7-border .button {
    margin-top: 6px;
  }
  .mod-7-c {
    flex: 1 1 auto;
  }

}

@media only screen and (min-width:1024px) {

  /* module 1: image left, text right, body offset */
  .mod-1-a {
    grid-column: 1 / 6;
    grid-row: span 4;
    background-color: lightgrey;
  }
  .mod-1-b {
    grid-column: 6 / 10;
    grid-row: span 1;
  }
  .mod-1-c {
    grid-column: 7 / 10;
    grid-row: span 1;
  }

  /* module 2: image right, text left, body offset */
  .mod-2-a {
    grid-column: 5 / 10;
    grid-row: span 4;
    background-color: lightgrey;
  }
  .mod-2-b {
    grid-column: 1 / 5;
    grid-row: span 1;
  }
  .mod-2-c {
    grid-column: 2 / 5;
    grid-row: span 1;
  }

  /* module 3: image left, text right */
  .mod-3-a {
    grid-column: 1 / 5;
    grid-row: span 1;
  }
  .mod-3-b {
    grid-column: 5 / 9;
    grid-row: span 1;
  }

  /* module 4: image right, text left */
  .mod-4-a {
    grid-column: 6 / 10;
    grid-row: span 1;
  }
  .mod-4-b {
    grid-column: 2 / 6;
    grid-row: span 1;
  }

  /* module 5: header with product spotlight */
  .mod-5-a {
    margin-top: 20px;
    grid-column: span 9 ;
    grid-row: span 1;
    text-align: center;
  }
  .mod-5-b {
    grid-column: 1 / 4;
    grid-row: 6;
    background-color: lightgrey;
    z-index: 2;
  }
  .mod-5-c {
    grid-column: 1 / 4;
    grid-row:  6 / 8;
    border: solid 1px black;
  }
  .mod-5-d {
    grid-column: 4 / 7;
    grid-row: 6;
    background-color: lightgrey;
    z-index: 2;
  }
  .mod-5-e {
    grid-column: 4 / 7;
    grid-row: 6 / 8;
    border: solid 1px black;
  }
  .mod-5-f {
    grid-column: 7 / 10;
    grid-row: 6;
    background-color: lightgrey;
    z-index: 2;
  }
  .mod-5-g {
    grid-column: 7 / 10;
    grid-row: 6 / 8;
    border: solid 1px black;
  }
  .mod-5-c, .mod-5-e, .mod-5-g {
    padding: 104% 15px 20px 15px;
    text-align: center;
  }
  .mod-5-c .price, .mod-5-e .price, .mod-5-g .price  {
    margin-top: 5px;
  }

  .mod-5-c .button, .mod-5-e .button, .mod-5-g .button {
    margin-top: 10px;
  }

  /* module 6: uniform width and centered application form */
  .mod-6 {
    grid-column: 3 / 8;
    grid-row: span 1;
    text-align: center;
  } .mod-6 h2 {
  margin: auto !important;
  position: relative;
  } .mod-6 form {
    text-align: left;
  } .mod-6 label {
    margin: 24px 0;
  }
  .mod-6 input{
    border: 1px solid gray !important;
    display: block;
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
    border: none;
    height: 52px;
    margin-top: 5px;
    padding-left: 24px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #6e6e6e;
  }.mod-6 textarea {
    border: 1px solid gray !important;
    display: block;
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
    margin-top: 5px;
    padding-top: 8px;
    padding-left: 24px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #6e6e6e;
  }

  .mod-6 select {
    font-family: 'PT Mono', courier new, monospace;
    border: 1px solid gray !important;
    display: block;
    width: 100%;
    max-width: 100%;
    border: none;
    height: 52px;
    padding-left: 24px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #6e6e6e;
  }

  /* module 7: product showcase */
  .mod-7-a {
    grid-column:span 9;
    grid-row: span 1;
    margin-bottom: 45px;
  }
  .mod-7-a ul {
    width: 40.75%;
    margin: 25px auto 0 auto;
  } .mod-7-a ul li {
    margin-right 20px;
    margin-left: 12px;
  }
  .mod-7-b {
    grid-column: span 3 ;
    grid-row: span 1;
    text-align: center;
    display: block;
  }
  .mod-7-b img {
    width: 100%;
    height: auto;
  }
  .mod-7-c {
    grid-column: 3 / 8;
    margin: 40px 0;
  }
  .mod-7-border {
    margin-top: -7px;
    padding: 20px 15px;
    display: block;
    border: 1px solid #000;
  }.mod-7-border .button {
    margin-top: 10px;
  }

  /* global items */
  nav .banner p {
    grid-column: span 7;
    grid-row: 1;
  } nav .banner a {
    grid-column: span 2;
    grid-row: 1;
    text-align: right;
  }
  nav .logo {
    grid-column: span 1;
    grid-row: 1;
  }
  nav .nav-left {
    grid-column: 2 / 8;
    grid-row: 1;
    padding-top: 22px;
    padding-left: 15px;
  } nav .nav-left li, footer .footer-left li{
    margin-right: 34px;
  }
  nav .nav-right {
    grid-column: span 2;
    grid-row: 1;
    padding-top: 22px;
    text-align: right;
  }
  .newsletter p {
    grid-column: 2 / 5;
    grid-row: 1;
    padding: 15px 0;
    color: #ffffff;
  } .newsletter .newsletter-input {
    grid-column: span 4;
    grid-row: 1;
  } .newsletter-input .input-text {
    border: none;
    height: 52px;
    width: 75.75%;
    padding-left: 52px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #6e6e6e;
  } .newsletter-input .input-button {
    position: absolute;
    border: none;
    height: 52px;
    width: 52px;
    background-color: #17E617;
    transition: all 0.3s ease;
  } .newsletter-input .input-button:hover {
    background-color: #19C519;
  }
  footer .footer-left {
    grid-column: span 7;
    grid-row: 1;
    line-height: 18px;
  }
  footer .footer-right {
    grid-column: span 2;
    grid-row: 1;
  }
  footer .footer-right li {
    display: inline;
    margin-bottom: 0;
  }
  footer hr {
    border: 1px thin #D8D8D8;
    color: #fefefe;
  }
  footer p {
    text-align: center;
    padding: 18px;
    color: #6E6E6E;
    font-size: 12px !important;
    letter-spacing: 0.4px !important;
  }


}
.filler {
  grid-column: span 12;
  grid-row: span 1;
  height: 2px;
}

/**/

  .products-drop-text {
      border: none;
  }

  .products-drop {
      position: relative;
      display: inline-block;
      padding: 6px 0 10px 0;
  }

  .products-drop-links {
      display: none;
      position: fixed;
      background-color: #fff;
      margin-top: 12px;
      left: 0;
      right: 0;
      min-width: calc(100vw);
      height: 100px;
      z-index: 1;
      text-align: center;
  }

  .products-drop-links a {
      color: #000000;
      padding: 42px 100px;
      text-decoration: none;
      display: inline-block;
      margin: auto;
  }.products-drop-links input {
    width: 40vw;
    height: 40px;
    margin-top: 25px;
    border-top: 0px;
    border-left:0px;
    border-right:0px;
  } .products-drop-links span {
    vertical-align: middle;
    min-height: 50px;
    display: inline-flex;
  }
  .products-drop:hover {
    border-bottom: 6px solid #17e615;
    padding: 6px 0 4px 0;
  } .products-drop:hover .products-drop-text, .products-drop:hover i{
    color: #000000;
  }

  .products-drop-links a:hover {background-color: #ddd; color: #222}

  .products-drop:hover .products-drop-links {display: block;}

  /**/
