.banner-wrap {
    width: 100%;
    margin: 0 auto;
    top: 55vh;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    z-index: 99;
}
.banner-wrap .banner {
    padding-left: 0%;  /* show the marquee just outside the paragraph */
    padding-right: 100%;
    animation: marquee 8s linear infinite;
}

.banner-wrap .banner h1 {
    display: inline-block;
   margin-right: 10px;
   line-height: 144px;
   font-size: 144px;
}

.banner-wrap .banner:hover {
    animation-play-state: paused
}
.event-date {
  font-family: 'Halcyon';
  padding: 4px 10px;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
footer {
  bottom: 0;
  height: 2%;
  width: 100%;
  margin-top: 10%;
}

.lupton-bg {
  background-color: #6BD0F6 !important;
}
.lupton-fg {
  color: #6BD0F6 !important;
}
.lupton-hover a:hover {
  color: #6BD0F6 !important;
}
.hendren-bg {
  background-color: #EF5AA1 !important;
}
.hendren-fg {
  color: #EF5AA1 !important;
}
.hendren-hover a:hover {
  color: #EF5AA1 !important;
}
.semple-bg {
  background-color: #F8DF58 !important;
}
.semple-fg {
  color: #F8DF58 !important;
}
.semple-hover a:hover {
  color: #F8DF58 !important;
}
