@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?14606144');
  src: url('../font/fontello.eot?14606144#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?14606144') format('woff2'),
       url('../font/fontello.woff?14606144') format('woff'),
       url('../font/fontello.ttf?14606144') format('truetype'),
       url('../font/fontello.svg?14606144#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Isidora';
  src: url('../font/IsidoraSans-Light.eot');
  src: url('../font/IsidoraSans-Light.eot') format('embedded-opentype'),
       url('../font/IsidoraSans-Light.woff') format('woff'),
       url('../font/IsidoraSans-Light.ttf') format('truetype'),
       url('../font/IsidoraSans-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?14606144#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-heart:before { content: '\e800'; } /* '' */
.icon-contrast:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-paragraph:before { content: '\f1dd'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-comment:before { content: '\f27b'; } /* '' */
